<div class="row">
    <div class="col-md-1">
        <button [matBadge]="5" matBadgePosition="after" matBadgeColor="accent"
            class="noOutlinebutton" mat-raised-button color="primary" [routerLink]="[ '/add']">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="col-md-1">
        <mat-form-field class="example-full-width">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search Contact" #name>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="card" style="width: 18rem; margin: 21px;">
        <div class="card-body">
            <h2>Shweta</h2>
            <h4> 490999</h4>
            <h4>sh@gmail.com</h4>
            <button class="noOutlinebutton" mat-mini-fab color="accent" aria-label="Example icon button with a delete icon" [routerLink]="[ '/delete',1]">
                <mat-icon>delete</mat-icon>
            </button> 
            <span>  |  </span>
            <button class="noOutlinebutton" mat-mini-fab color="accent" aria-label="Example icon button with a delete icon" [routerLink]="[ '/update',1]">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>
</div>
<!-- Badges using the 
matBadgeColor property to set the background color: primary, accent, or warn.
Badge position: above|below and before|after 
Badge Sizing: matBadge='1'
-->